/* место для вашего кода */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 25.5px 0 26.5px;
  margin: 92px 24px 90px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;

}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-wrap: nowrap;
  gap: 32px;
  margin-right: 36px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

}

.menu-item:first-child {
  list-style-type: none;
}

.menu-item:first-child>a {
  text-decoration: none;
}


.logo {
  width: 148px;
  height: 105px;
  margin-right: 184px
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 1%;
  margin-left: 5px;
}

.contacts-link {
  text-decoration: none;
  border-bottom: 1px solid black;
}


.contacts-address {
  font-style: normal;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 178px;
  position: relative;
}

.cover {
  width: 1100px;
  padding-bottom: 51px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/cover.jpg');
  background-position: top 100% left 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.cover-content-title {
  width: 100%;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-top: 165px;
  padding: 0 50px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.cover-content-title-1 {
  display: block;
  flex-direction: row;
  letter-spacing: 0.3rem;
}

.cover-content-title-1-1 {
  letter-spacing: 0.3em;
}


.cover-content-title-2 {
  margin-top: 9px;
  display: block;
  text-align: center;
  letter-spacing: 0.1em;

}

.cover-content-title-2-1 {
  letter-spacing: 0.3em;
}

.cover-content-title-2-2 {
  letter-spacing: 0.6em;
}

.cover-content-title-3 {
  display: block;
  text-align: right;
  letter-spacing: 0;
  margin-top: 3px;

}

.cover-content-title-3-1 {
  letter-spacing: 2.3rem;

}

.cover-content-title-3-2 {
  letter-spacing: 0.4rem;

}

.cover-content-title-3-3 {
  letter-spacing: 0.3rem;

}

.cover-content-title-3-4 {
  letter-spacing: 0em;

}

.cover-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 79px;
  padding: 0 50px 0 78px;
  margin-top: 127px;

}

.cover-footer-text {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
}

.cover-footer-button {
  display: flex;
  background-color: inherit;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding: 12px 32px 11px 31px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
}

.lots {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
}

.lots-title {
  margin-left: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
}

.lots-list {
  margin-top: 27px;
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  flex-wrap: wrap;
  list-style-type: none;

}

.lots-list-item {
  width: 334px;
  min-height: 563px;
  padding: 51px 40px 48px 40px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.lot-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/card-lot-01.jpg');
}

.lots-list-item-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.lots-list-item-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.lot-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/card-lot-02.jpg');
}

.lot-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/card-lot-03.jpg');
}

.seemore {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.5px;
  margin: 30px 0 0 40px;
  width: fit-content;
}

.about {
  margin-top: 146px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.about-logo {
  height: 240px;
  width: 240px;
  background-color: black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 0 0 47px;

}

.about-logo-pic {
  height: 114px;
  width: 148px;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
}

.about-description {
  margin-top: 137px;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  max-width: 693px;
  margin-left: 65px;
}

.about-text {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}


.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  padding: 0 50px;
  margin-bottom: 100px;
}

.footer-contacts {
  margin: 0;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 37px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.footer-menu-item:first-child {
  text-decoration: none;
}

.footer-menu-item {
  text-wrap: nowrap;
}

.footer-social {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
  list-style-type: none;
}

.footer-social-item {
  height: 48px;
  width: 48px;
}